# プロジェクトのルートフォルダであるかの真偽
root = true

# 共通設定
[*]

# 改行コード
end_of_line = crlf

# 文字コード
charset = utf-8

# インデント
indent_style = space

# インデントサイズ
[*.css]
indent_size = 2

[*.scss]
indent_size = 2

[*.js]
indent_size = 4

#行末の空白文字の削除の要否
trim_trailing_whitespace = true
