@charset 'utf-8';

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}
a, article, aside, body, canvas, caption, dd, div, dl, dt, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, img, label, legend, li, nav, ol, p, section, small, span, table, tbody, td, tfoot, th, thead, tr, ul {
  margin: 0;
  padding: 0;
}
article, aside, figcaption, figure, footer, header, nav, section {
  display: block
}
ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
input[type="checkbox"],
label,
select,
button:not(:disabled) {
  cursor: pointer;
}

/* Contents
--------------------------- */
.todo-header {
  background-color: #34D19C;
  color: #fff;
  display: flex;
  align-items: center;

  &-inner {
    padding: 1rem 3rem;
    width: 100%;
  }

  &-title {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .todo-header {
    padding: 0;

    &-inner {
      max-width: 1280px;
      margin: 0 auto;
      padding: 1.5rem 3rem;
    }

    &-title {
      font-size: 3.2rem;
    }
  }
}

.todo-create {
  padding: 3rem;

  &-hdg {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    > {
      label {
        flex-basis: 8rem;
        font-size: 1.4rem;
      }

      input[type='text'], textarea {
        border: 2px solid #E9E9E9;
        border-radius: 3px;
        color: #333;
        flex-grow: 1;
        font-size: 1.6rem;
        padding: .8rem;
      }
    }
  }

  &-category {
    background-color: #EFEFEF;
    border-radius: 3px;
    padding: 2rem;
  }

  &-categoryTitle {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-form {
    display: flex;
    align-items: center;
  }

  &-formText {
    border: 2px solid #E9E9E9;
    flex: 1 1 auto;
    font-size: 1.6rem;
    margin-right: 1rem;
    padding: .8rem;
  }

  &-formButton {
    background-color: #B0B0B0;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: .8rem;
  }

  &-action {
    margin-top: 2rem;

    > form {
      text-align: center;
    }
  }

  &-categoryItem {
    margin-bottom: 2rem;
  }

  &-categoryLabel {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }

  &-categoryCheckbox {
    margin-right: .6rem;
  }

  &-actionButton {
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: .8rem;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .todo-create {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 3rem 3rem;

    &-hdg {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }

    &-item {
      margin-bottom: 3rem;

      > {
        label {
          flex-basis: 9.6rem;
          font-size: 1.6rem;
        }

        input[type='text'], textarea {
          font-size: 1.6rem;
          padding: 1.28rem;
        }
      }
    }

    &-category {
      padding: 3rem;
    }

    &-categoryTitle {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    &-formText {
      font-size: 1.8rem;
      padding: .8rem;
      max-width: 40%;
    }

    &-formButton {
      font-size: 1.6rem;
    }

    &-action {
      margin-top: 3rem;

      > form {
        text-align: center;
      }
    }

    &-categoryLabel {
      font-size: 1.8rem;
    }

    &-actionButton {
      font-size: 1.8rem;
      padding: 1.28rem;
    }
  }
}

.todo-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
  margin-bottom: 3rem;

  &-item {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    border-bottom: 2px solid #E9E9E9;
    width: 100%;
  }

  &-text {
    font-size: 1.4rem;
    margin-right: 1rem;
  }

  &-select {
    font-size: 1.4rem;
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    padding: .4rem;

    & > option {
      font-size: 1.4rem;
    }
  }

  &-checkbox {
    margin: 0 0 .2rem 1rem;
    vertical-align: middle;
  }

  &-keyword {
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .todo-search {
    flex-direction: row;
    padding: 1rem 3rem;
    margin: 0 auto 3rem;
    max-width: 1280px;
    width: 100%;

    &-item {
      flex: 1 1 auto;
      padding: 2rem;
      border-bottom: none;
      border-right: 2px solid #E9E9E9;
      width: auto;

      &:last-child {
        border-right: none;
      }
    }

    &-text {
      font-size: 1.6rem;
      margin-right: 1.5rem;
      min-width: 50px;
    }

    &-select {
      font-size: 1.6rem;
      flex: 1 1 auto;

      & > option {
        font-size: 1.6rem;
      }
    }

    &-checkbox {
      margin: 0 0 .4rem 1rem;
    }

    &-keyword {
      font-size: 1.6rem;
    }
  }
}

.todo-status {
  padding: 0 3rem;
  margin-bottom: 3rem;

  &-text {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .todo-status {
    padding: 1rem 3rem;
    margin: 0 auto 3.25rem;
    max-width: 1280px;

    &-text {
      font-size: 1.6rem;
    }
  }
}

.todo-item {
  align-items: center;
  border: 2px solid #E9E9E9;
  border-radius: 3px;
  display: flex;
  flex-direction: row-reverse;
  transition: opacity 300ms ease, transform 300ms ease;
  padding: 2rem;
  margin-bottom: 2rem;

  &-content {
    flex-grow: 1;
    margin-left: 1.5rem;
  }

  &-date {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  &-title {
    font-size: 1.6rem;
    margin-bottom: .5rem;
  }

  &-description {
    font-size: 1.4rem;
    background-color: #F0F0F0;
    padding: 1.6rem;
    margin-bottom: 1rem;
  }

  &-category {
    font-size: 1.2rem;
    position: relative;
    padding-left: 1rem;
    margin-bottom: .2rem;

    &::before {
      background-color: #B0B0B0;
      bottom: 0;
      border-radius: 50%;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      margin: auto 0;
      width: 4px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .todo-item {
    padding: 3rem;
    margin-bottom: 3rem;

    &-content {
      margin-left: 2rem;
    }

    &-date {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    &-title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    &-description {
      font-size: 1.6rem;
      padding: 2rem;
      margin-bottom: 1.5rem;
    }

    &-category {
      font-size: 1.4rem;
      padding-left: 1.6rem;
      margin-bottom: .4rem;

      &::before {
        height: 6px;
        width: 6px;
      }
    }
  }
}

.todo-list-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.todo-list-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.todo-list-enter-to, .todo-list-leave {
  opacity: 1;
  transform: translateX(0);
}

.todo-footer {
  background-color: #34d19c;

  &-inner {
    padding: 2rem 3rem;
    width: 100%;
  }

  &-text {
    color: #fff;
    text-align: center;

    > small {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .todo-footer {
    &-inner {
      padding: 2.5rem 3rem;
      margin: 0 auto;
      max-width: 1280px;
    }

    &-text {
      > small {
        font-size: 1.4rem;
      }
    }
  }
}